:root {
  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);
  --font: "Be Vietnam Pro", sans-serif;
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);
  --box-shadow:1px 3px 6px var(--Dark-Blue);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
/* Loader section */
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* flex-direction: column; */
}
.loader .load{
  width: 100px;
  height: 100px;
  border-top: 16px solid var(--Bright-Red);
  border-bottom: 16px solid var(--Bright-Red);
  border-left: 16px dotted var(--Dark-Blue);
  border-right: 16px dotted var(--Dark-Blue);
  border-radius: 50%;
  animation: spin .8s linear infinite;
}
.container{
  display:none;
  width: 100%;
}
/* General Styling */
/* button */
button{
  padding: .7em 2em;
  border-radius: 30px;
  border: none;
  background: var(--Bright-Red);
  color: white;
  box-shadow: var(--box-shadow);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-shadow: 2px 1px 3px  black;
}
button:hover{
  border-radius:10px ;
  font-weight: bold;
}
/* anchor tags */
ul {
  list-style-type: none;
  display: flex;
}
ul li{
  margin: 0 .4em; 

}
a{
  font-size: 15px;
  text-decoration: none;
  color: var(--Dark-Blue);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.3s ease-in-out;
  padding-bottom: .5em;
  text-shadow: .5px .5px .5px  black;

}
a:hover{
  color: var(--Bright-Red);
  font-weight: bold;
}
/* p */
p{
  font-size:15px;
  color: var(--Dark-Grayish-Blue);
  line-height: 1.6;
  font-family: var(--font)
}
main{
  width: 100%;
  height: auto;
  background-image: url(../images/bg-tablet-pattern.svg);
  /* background-position: right top; */
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
main header{
  display: flex;
  justify-content: space-between;
  padding: 30px 8%;
  align-items: center;
  position: relative;
}
main header .logo img{
  box-shadow:1px 1px 3px var(--Dark-Blue);
  padding: .8em;
  border-radius: 10px;
  cursor: pointer;
}
main header .toggle{
  display: none;
}
main header nav .close{
  display: none;
}
#linkBtn{
  display: none;
}

.hero{
  width: 100%;
  height: auto;
  padding: 5em 8% 0 8%;
  display: flex;
}
.hero .section{
  width: 50%;
}

.hero .left .content h1{
  font-size: 320%;
  font-family: var(--font);
  margin-bottom: .5em;
  color: var(--Dark-Blue);
  text-shadow: 2px 1px 3px black;
}
.hero .left .content p{
  margin-bottom: 1em;
}
.hero .right{
  position: relative;
}
.hero .right img{
  width: 100%;
}
/* Second section */
.section-two{
  width: 100%;
  height: auto;
  display: flex;
  font-family: var(--font);
  padding: 20px 8%;
}
.section-two p{
  margin: 1em 0;
  line-height: 1.6;
}
.section-two h1{
  text-shadow: 1px 1px 3px  black;
  font-size: 200%;
  color: var(--Dark-Blue);
}
.section-two .first{
  padding-right: 9%;
}
.section-two section h4{
  color: var(--Dark-Blue);
}
.section-two section aside{
  display: flex;
}
.section-two section aside .num h4{
  background: var(--Bright-Red);
  text-shadow: 2px 1px 3px  black;
  padding: .3em 1em;
  color: white;
  font-weight: bold;
  margin-right: 1.5em;
  border-radius: 20px;
  font-size: 90%;
  margin-top: -.2em;
}

/* third sectionb */
.third-section{
  width: 100%;
  height: auto;
  padding: 5% 8%;
  text-align: center;
}
.third-section h1{
  text-shadow: 1px 1px 3px  black;
  font-family: var(--font);
  color: var(--Dark-Blue);
}
.third-section .card-container{
  display: flex;
  margin: 5em 0;
  justify-content: space-between;
}
.third-section .card-container .card{
  width: 20%;
}
.third-section .card-container .card h5{
  font-family: var(--font);
  font-size: 100%;
  margin: .4em;
  color: var(--Dark-Blue);
  text-shadow: 1px 1px 3px  black;
}
.third-section .card-container .card img{
  width: 20%;
}

/* Fourth Section */
.fourth-section{
  width: 100%;
  height: auto;
  background-color: var(--Bright-Red);
  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding: 8% 8%;
  text-shadow: 1px 1px .5px  black;
}
.fourth-section .box{
  width: 50%;
  color: white;
  font-family: var(--font);
}
.fourth-section .box .btn{
  display: flex;
  justify-content: flex-end;
}
.fourth-section .box button{
  background-color: white;
  color: var(--Bright-Red);
}
/* footer */
footer{
  background: var(--Very-Dark-Blue);
  padding: 50px 8%;
  height: auto;
  width: 100%;
  display: flex;
}
footer #logo{
  margin-bottom: 3em;
}
footer img{
  margin: 0.2em ;
  padding: .2em;
  border-radius: 50%  ;
  transition: .5s ease-in-out;
  cursor: pointer;
}
footer img:hover{
  border:1px solid var(--Bright-Red);
}
footer .box{
  width: 25%;
}
footer ul{
  margin-left: 20%;
  flex-direction: column;
}
footer ul li{
  margin: .5em 0;
}
footer .box a{
  color: white;
}
footer .box a:hover{
  color: var(--Bright-Red);
}
footer .input{
  margin-bottom: 3em;
}
footer input{
  padding: .8em 1em;
  border-radius: 20px;
  width: 70%;
  border: none;
}
footer button{
  width: 25%;
  padding: 0.7em;
  font-size: 90%;
}
footer p{
  font-size: 90%;
}

/* email notification */
.email-popUp{
  display: none;
}
.email-update{
  max-width: 150%;
  height: 150px;
  position: fixed;
  top: 50%;
  /* left: 0; */
  right: 0;
  bottom: 50%;
  margin: auto;
  padding:20px 10%;
  background-color: var(--Dark-Blue);
  color: var(--Bright-Red);
  text-align: center;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  animation: slideRight 1.5s linear;
  opacity: 0.8;

}
.email-update h1{
  color: white;
  margin: .5em 0;
}
.email-update h1 span{
  color: var(--Bright-Red);
}
.popUp-appear{
  display: block;
}
/* mobile menu display class */
.nav-display{
  display: flex;
}

/* Sign Up form */
.form{
  display: none;
}
.display-form{
  display: block;
}
form{
  display: flex;
  position: fixed;
  top: 20%;
  bottom: auto;
  background-color: var(--Dark-Blue);
  z-index: 10000;;
  width: 45%;
  height: auto;
  flex-direction: column;
  padding: 40px 3%;
  left: 28%;
  right: 28%;
  box-shadow: 1px 1px 3px cyan;
  border-radius: 20px;
  align-items: center;
}
form h1, form h3{
  color: var(--Bright-Red);
  margin-bottom: 1em;
  font-size: 130%;
  text-shadow: 2px 1px 3px  black;
}
.logIn h3{
  margin: 1em 0;
}
.logIn input{
  margin-bottom: 2em;
}
.logIn{
  background-color: var(--Very-Dark-Blue);
  /* display: none; */
}
.logIn .closeForm{
  margin-left: auto;
  margin-bottom: 1em;
  margin-right: 1em;
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--Bright-Red);
  padding: .3em;
  border-radius: 50%;
}
form .close{
  margin-left: auto;
  margin-bottom: 1em;
  margin-right: 1em;
  cursor: pointer;
  box-shadow: 2px 2px 2px var(--Bright-Red);
  padding: .2em;
  border-radius: 50%;
}
form input{
  padding: .9em ;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: .5em;
  color: white;
  width: 80%;
  box-shadow: 1px 1px 5px inset black;
  text-shadow: 2px 1px 3px  black;
}
form input::placeholder{
  color: var(--Dark-Grayish-Blue);
  /* padding-left: 5%; */
}
form .show{
  margin-left:10%;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: .5em;
  align-items: center;
  margin-bottom: .5em;
}
.show input[type=checkbox]{
  width: 14%;
  box-shadow: none;
  margin-bottom: .1em;
}
form p{
  color: white;
}
form a{
  color: var(--Bright-Red);
}
form p, form a{
  text-align: center;
  font-size: 90%;
}
form button{
  margin: .8em 0;
}
/* Mobile menu fadeout animation */
.fadeout{
  opacity: 0;
  transition: 2s ease-out;
}
/* header links active class */
.active-link{
  border-bottom: 3px dashed var(--Bright-Red);
}
